
body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 20px auto;
  padding: 0 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 12px;
  font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="number"],
select,
textarea,
input[type="file"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  font-size: 1rem;
  margin-top: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

textarea {
  resize: vertical;
}

button {
  padding: 10px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #084cd9;
}


@media (max-width: 600px) {
  body {
    max-width: 100%;
    margin: 10px;
    padding: 0 8px;
  }
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="number"],
  select,
  textarea,
  input[type="file"] {
    font-size: 0.9rem;
    padding: 6px;
  }
  button {
    font-size: 0.9rem;
    padding: 8px;
  }
  label {
    font-size: 1rem;
  }
}
